{% extends 'base.html' %}
{% block content %}
{%load static%}


<section class="gone">
    <div class="container">
      <h2 class="text-center">¿QUIÉNES SOMOS?</h2>
      <hr class="linea"/>
      <div class="row justify-content-md-center">
  

        <div class="col1 col-sm col-lg">
            <div class="icon1"><i class="fas fa-plane"></i></div>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit eaque aliquam quo quibusdam ipsam voluptatem corporis soluta cum non voluptate omnis delectus aperiam autem, quia nisi distinctio ex cupiditate officia!
          Non a quod qui unde perferendis praesentium ducimus quaerat culpa rerum nobis dicta quos quam, tempore necessitatibus nemo optio quibusdam eveniet repellat et iusto consequatur fugiat veniam quisquam consectetur. At?
          Sint culpa accusamus impedit nam dolore nesciunt officia quae ducimus doloribus placeat eligendi corporis unde, accusantium ullam veritatis expedita error? Sequi quae possimus nisi accusamus assumenda tempore officiis harum libero!
        </div>
  
        <div class="col2 col-sm col-lg">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis voluptatem veritatis, pariatur nam molestias aperiam ipsum, repellendus, culpa provident consequatur quas excepturi? Optio facere exercitationem dignissimos nemo excepturi odit autem.
          Adipisci totam similique voluptas culpa! Neque accusantium voluptatum distinctio dicta rem excepturi delectus velit quae possimus corporis. Nobis quis explicabo praesentium recusandae ipsum ut. Voluptate quidem dolorem praesentium pariatur perspiciatis!
          Quidem autem ipsa illo nam id nesciunt harum amet exercitationem ab consequuntur. Eum iste temporibus qui nulla expedita recusandae vel doloremque, impedit libero quas repellendus ipsa aliquid minus dolore. Saepe.
          <div class="icon2"><i class="fas fa-mountain"></i></div>
        </div>
  
        <div class="col3 col-sm col-lg">
          <div class="icon1"><i class="fas fa-route"></i></div>           
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia unde reprehenderit magni omnis, maxime, architecto iusto deserunt animi nostrum inventore nesciunt magnam explicabo natus illo. Repudiandae sit fugiat cupiditate omnis.
          Quae voluptatum aliquam atque rerum nemo omnis magnam ab odit animi. Ducimus, deserunt vel inventore fugiat corrupti nemo saepe nisi cupiditate voluptate vitae delectus ea ipsa. Hic officiis enim nobis.
          Officia quibusdam rem suscipit provident consectetur doloribus enim eum sed? Temporibus et esse natus ullam fugit! Rerum id temporibus iste fuga, sit, dolores laudantium eos quisquam molestiae, eius corporis error.
        </div>
      </div>
    </div>
  </section>



{% endblock %}





